.body{
    width: 100%;
    min-height: 633px;
    max-height: fit-content;
    border-top: 40px solid red;
    /* background-color: azure; */
    /* background-position:center; */
    /* background-image: url(https://i.pinimg.com/originals/c8/b0/7e/c8b07e380215edaaa1903769586a61dc.jpg); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.669)) , url(https://i.pinimg.com/originals/c8/b0/7e/c8b07e380215edaaa1903769586a61dc.jpg);
    /* backdrop-filter: blur(5px); */
    padding-top: 75px;
    /* margin-top: 50px; */
    /* z-index: -3; */
    /* margin-left: 15%; */
    /* padding-left: 35%; */
    /* text-align: center; */
}
.body::after{
    width: 100%;
    height: fit-content;
    color: rgb(0, 0, 0);
}
.background{
    padding-top: 50px;
    padding-left: 55px;
    width: 70%;
    min-height: 633px;
    max-height: fit-content;
    background-color: rgba(254, 254, 254, 0.315);
    backdrop-filter: blur(8px);
    margin-left: 15%;
    z-index: 1;


}
.card{
    width: 950px;
    max-height: auto;
    min-height: 180px;
    /* border: 2px solid red; */
    background-color: rgba(255, 253, 253, 0.779);
    display: inline-block;
    margin-bottom: 20px;
    z-index: 1;

}


.image{
    text-align: center;

}

.image img{
    max-width: 100%;
    max-height: 100%;
    /* width: 200px;
    height: 170px; */
    
    /* margin-top: 3px; */
    /* margin-left: 3px; */
}

/* .head{
    width: 180px;
    height: 35px;
    border: 2px solid red;
    background-color: blue;
} */

/* .card h3{
    top: 0;
    text-align: right;
} */

.image{
    width: 200px;
    float: left;
    height: 160px;
    /* border: 2px solid red; */
    margin-top: 8px;
    margin-left: 12px;

}

.head{
    width: 497px;
    float: left;
    height: 40px;
    /* border: 2px solid red; */
    margin-top: 8px;
    margin-left: 12px;
  
}

.subhead{
    width: 710px;
    float: left;
    min-height: 110px;
    max-height: fit-content;
    /* border: 2px solid red; */
    margin-top: 8px;
    margin-left: 12px;

}
.btn{
    width: 200px;
    float: top;
    /* float: left; */
    margin-left: 20px;
    height: 40px;
    /* border: 2px solid red; */
    margin-top: 8px;
    margin-left: 12px;
    /* padding-bottom: 1px; */
    box-shadow: none;

  
}

.btn:hover{
    box-shadow: none;
}

.btn a{
    /* margin-bottom: -15px; */
    margin-left: 25px;
    float: right;
    transition: .1s;

}

.btn a:hover{
    color: blue;
    transform: scale(1.1);
}
