<div class="body">
    <div class="background">
        <div class="card" *ngFor="let i of books" >
            
            
            <!-- <div class="image"> <img class="block" src="https://images-na.ssl-images-amazon.com/images/I/41O4HffnFsL.jpg" alt=""> </div> -->
            <!-- <div class="image">  </div> -->
            <!-- <div class="head"> <h3>helloo</h3> </div>
            <div class="subhead"> <h4>helloo</h4> <p>something</p> </div> -->


            <div class="image"> <img class="block" [src]= "i.BookImg" alt=""> </div>
            <!-- <div class="image">  </div> -->
            <div class="head"> <h3>{{i.BookAuth}}</h3> </div>
            <div class="subhead"> <h4>"{{i.BookName}}"</h4> <p>{{i.BookDesc}}</p> </div>
            <div class="btn">
                <a *ngIf= "_auth.loggedIn()" (click)="editBook(i)" value="update" >Edit</a>
                <a *ngIf= "_auth.loggedIn()" (click)="deleteBook(i._id)" value="delete">Delete</a>

            </div>
            <!-- <div class="paragraph"><p></p></div> -->
        </div>

    </div>

</div>